extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to details
 else
  - let roadtransportid = toShow._id
  - let roadtransport_type = toShow.roadtransport_type
  - let roadtransport_name = toShow.roadtransport_name
  - let roadtransport_cost = toShow.roadtransport_cost
  div
  div.row
  div(class='roadtransportAttr mr-3') Roadtransport ID is:
  div #{roadtransportid}
  div.row
  div(class='roadtransportAttr mr-3') Roadtransport Type is:
  div #{roadtransport_type}
  div.row
  div(class='roadtransportAttr mr-3') Roadtransport Name is:
  div #{roadtransport_name}
  div.row
  div(class='roadtransportAttr mr-3') Roadtransport Cost is:
  div #{roadtransport_cost}