extends layout

block content
  h1= title
  - var roadtransport = results;
  - let destination3 = `dispatch(\"/roadtransport/create\")`
  button.btn( class="btn-success", onclick= destination3) Create
  div(class="container_fluid")
    each item,index in roadtransport
     - let destination = `dispatch(\"/roadtransport/update?id=${item._id}\")`
     - let destination1 = `dispatch(\"/roadtransport/detail?id=${item._id}\")`
     - let destination2 = `dispatch(\"/roadtransport/delete?id=${item._id}\")`
        div(class="row", onclick=`buy(${index})`)       
            div(class="col-sm-2") #{item.roadtransport_type}
            div(class="col-sm-2") #{item.roadtransport_name}
            div(class="col-sm-2") #{item.roadtransport_cost}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
        button.btn( class="btn-info", onclick= destination1) Details
        button.btn( class="btn btn-danger", onclick= destination2) Delete
  script.
   function dispatch(path){
    window.location.href=path
   }
  script.
      function buy(indexNumber){
        alert('You purchased item '+ indexNumber)
      }